:root {
    --light-blue: rgba(0, 170, 255, 1);
    --gray-300: #6D6D6B;
    --regular-black: #212121;
    --yellow-100: #FFFBA6;
    --golden: #C4AD32;
    --blue-100: #93CBFF;
    --blue-500: #105798;
    --green-100: #C8E8E4;
    --green-500: #326C65;
  }